h2 {
    font-size: 2.00em;
    font-family: Tahoma;
    background-color: coral;
    color: black;
    padding: 3%;
    border-radius: 5%;
    text-align: center;
}

.MilesContainer {
    padding-right: 15%;
    padding-top: 25%;
    display: inline-block;
    position: absolute;
    margin-left: 15%;
}